*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}


header {
background: white;
position: fixed;
top: 0;
width: 100%;
box-shadow: 0 2px 5px none;
z-index: 1000;
}

.header-container {
width: 90%;
max-width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 0;


}

.container {
width: 90%;
max-width: 1200px;
margin: auto;
}

.logo {
color: #1a1d23;
display: flex;
align-items: center;
gap: 10px;
}

.logo h2 {
font-size: 24px;
}

.logo h2 span {
color: #1a1d23;
}


.logo img {
width: 50px;
height: 50px;
}

/* nav {
margin-left: 40px;
} */

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 12px;
}

nav ul li a {
text-decoration: none;
color: black;
font-size: 17px;
font-weight: bold ;
padding-right: 15px;

}


nav ul li a:hover {
color: blue;
}


/* hero section  */

.blog-hero{
    background: linear-gradient(rgba(26,29,35,.85),rgba(26,29,35,.85)),url("https://static.vecteezy.com/system/resources/previews/000/549/810/original/vector-abstract-technology-background-technology-digital-world-of-business-information-futuristic-blue-virtual-graphic-interface.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 140px 20px;

}


.blog-hero h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.blog-hero p{
    max-width: 750px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
}


/* featured section  */
.featured-blog{
    padding: 80px 0;
    background: #fff;
}

.featured-blog .container{
    display: flex;
    align-items: center;
    gap: 50px;
}

.featured-image{
    border-radius: 21px;
    margin-left: 20px;
    margin-RIGHT: 20px;
    flex: 1;
    overflow: hidden;
}

.features-image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    display: block;
    border-radius: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.featured-content{
    flex: 1;
}

.blog-tag{
    display: inline-block;
    background-color: #3b82f6;
    color: #fff;
    padding: 8px 18px;
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 20px;
}

.featured-content h2{
    font-size: 36px;
    color: #1a1d23;
    margin-bottom: 20px;
}

.featured-content p{
    color: #555;
    line-height: 1.8;
    margin-bottom: 18px;
}

.read-btn{
    display: inline-block;
    margin-top: 10px;
    padding: 14px 30px;
    background: #1a1d23;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;
}

.read-btn:hover{
    background: #3b82f6;
}


/* latest blogs section  */
.latest-blogs{
    padding: 80px 0;
    background: #021531;
    text-align: center;
}

.latest-blogs p{
    margin-bottom: 40px;
    color: #fff;
}

.latest-blogs h2{
     font-size: 40px;
     color: #f9fafc;
     margin-bottom: 25px;
}

.section-text{
    color: #666;
    margin-bottom: 50px;
    font-size: 18px;
}

.blog-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 30px;
}

.blog-card{
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba (0,0,0,.08);
    transition: .3s;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.blog-card:hover{
    transform: translateY();
}

.blog-card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.blog-content{
    padding: 25px;
}

.blog-content span{
    color: #3b82f6;
    font-size: 14px;
    font-weight: bold;
}

.blog-content h3{
    margin: 15px 0;
    color: #1a1d23;
    font-size: 24px;
}

.blog-content p{
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}

.blog-content a{
    text-decoration: none;
    color: #3b82f6;
    font-weight: bold;
}

.blog-content a:hover{
    color: #1a1d23;
}


 /* call to action section   */
.blog-cta{
 background: #fbfcfd;
 color: #080000;
 text-align: center;
 padding: 80px 20px;
}

.blog-cta h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.blog-cta p{
    max-width: 700px;
    margin: 0 auto 30px;
    line-height: 1.8;
}

.cta-btn{
    display: inline-block;
    padding: 15px 35px;
    background: #3b82f6;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: .3s;

}

.cta-btn:hover{
    background: #fff;
    color: #1a1d23;
}



footer {
background: #1a1d23;
color: white;
padding: 50px 30px 20px;
}

.footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 30px;
}

.footer-box {
width: 220px;
}

.footer-box h2 {
margin-bottom: 15px;
color: #0d6efd;
}

.footer-box p {
margin: 10px 0;
line-height: 1.6;
}

.footer-box a {
display: block;
color: white;
text-decoration: none;
margin: 10px 0;
}

.footer-box a:hover {
color: #0d6efd;
}

hr {
margin: 30px 0 15px;
}

.copyright {
text-align: center;
}