
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
background: white;
position: fixed;
top: 0;
width: 100%;
box-shadow: 0 2px 5px none;
z-index: 1000;
}

.header-container {
width: 90%;
max-width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 0;


}

.container {
width: 90%;
max-width: 1200px;
margin: auto;
}

.logo {
color: #1a1d23;
display: flex;
align-items: center;
gap: 10px;
}

.logo h2 {
font-size: 24px;
}

.logo h2 span {
color: #1a1d23;
}


.logo img {
width: 50px;
height: 50px;
}

/* nav {
margin-left: 40px;
} */

nav ul {
display: flex;
list-style: none;
}

nav ul li {
margin-left: 12px;
}

nav ul li a {
text-decoration: none;
color: black;
font-size: 17px;
font-weight: bold ;
padding-right: 15px;

}


nav ul li a:hover {
color: blue;
}







.form-sec{
    min-height:100vh;
    background: linear-gradient(rgba(26, 29, 35, .85), rgba(26, 29, 35, .85)),url("https://miro.medium.com/v2/resize:fit:1358/1*r14zhMfaPY4AW7XRO7toSA.jpeg");
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top:140px;   /* space for fixed header */
    padding-bottom:60px;

}

    

.login-box{
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgb(211, 196, 196);
    
}

.login-box h2{
    text-align: center;
    color: rgb(11, 29, 58);
    margin-bottom: 10px;
    font-size: 34px;
}
  
.subtitle{
    text-align: center;
    color:rgb(58, 54, 54);
    margin-bottom: 30px;
}

.input-box i{
    position: absolute;
    left: 15px;
    top:16px;
    color: rgb(11, 29, 58);
}

.input-box input{
    width:85%;
    padding: 15px 15px 15px 45px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}

.input-box input:focus{
    border-color: rgb(11, 29, 58);
}

.fpass{
    color: black;
    text-decoration: none;
}


.options{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 14px;
}

button{
    width: 100%;
    padding: 15px;
    border:none;
    background:rgb(11, 29, 58);
    color: white;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background:rgb(33, 83, 165) ;
}

.signup{
    text-align: center;
    margin-top: 25px;
}

.signup>a{
    text-decoration: none;
    color: rgb(11, 29, 58);
    font-size:15px;
    font-weight: bold;

}

.signup>a:hover{
    color:rgb(33, 81, 158)
}



footer {
background: #1a1d23;
color: white;
padding: 50px 30px 20px;
}

.footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 30px;
}

.footer-box {
width: 220px;
}

.footer-box h2 {
margin-bottom: 15px;
color: #0d6efd;
}

.footer-box p {
margin: 10px 0;
line-height: 1.6;
}

.footer-box a {
display: block;
color: white;
text-decoration: none;
margin: 10px 0;
}

.footer-box a:hover {
color: #0d6efd;
}

hr {
margin: 30px 0 15px;
}

.copyright {
text-align: center;
}